@charset "utf-8";
/*
Design by http://www.templateaccess.com
Released for free under a Creative Commons Attribution 3.0 License
*/
body { margin:0; padding:0; width:100%; color:#959595; font:normal 12px/1.8em Arial, Helvetica, sans-serif; background:#fff;}
.main { padding:0; margin:0 auto; width:970px;}
.logo { float:left; width:300px; height:51px; padding:15px; margin:0 auto;}
h1 { margin:0; padding:0; color:#afaeae; font:bold 38px/1.2em Arial, Helvetica, sans-serif; letter-spacing:-2px;}
h1 a, h1 a:hover { color:#afaeae; text-decoration:none;}
h1 span { color:#9dd9ff;}
h1 small { display:block; padding:0; font:normal 12px/1.2em Arial, Helvetica, sans-serif; letter-spacing:normal;}
h2 { font:normal 24px Arial, Helvetica, sans-serif; padding:8px 0; margin:0; color:#595959;}
h3 { font:normal 46px Arial, Helvetica, sans-serif; padding:80px 0 0; margin:0; color:#FFF;}
p { margin:8px 0; padding:0 0 8px 0; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
p.spec {}
a { color:#97c950; text-decoration:underline;}
a.rm, a.com { padding:0; text-decoration:none; padding:5px 15px; background:#78bbe6; color:#FFF;}

.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar { margin:0; padding:0;}
.line { background:url(../images/fbg_line.gif) repeat; }
.line p {margin: 0; padding: 0;}

.line .block_top_text { float:left; width:30%; margin-left: 15%; padding: 20px 0; font-weight: bold; color:#FFF; }
.line .block_top_lnks { float:right; width:40%; }
.greetings {padding: 15px 0 10px 40px !important;}
.signout {margin-left: 50px;}
.line .block_top_lnks p { font-weight: bold; color:#FFF; }
.line .block_top_lnks li { float: left; padding: 4px 0 0 10px; width:140px; }
.line .block_top_lnks a { font-weight: bold; color:#FFF; text-decoration: underline;}
.line .block_top_lnks a:hover { text-decoration: none; }
.line .sign {margin: 18px 0 0; }
.line .loginerror {
    color: red !important;
    padding: 0 0 0 10px;
}
.line .loginerror span {
    display:none;    
}

/* header */
.header { padding:0; margin:0 auto;}

/* hbg */
.hbg { padding:0; margin:0; background:#78bbe6; height:271px;}
.hbg img { float:left;}
.hbg .text { float:left; width:317px; text-align:center;}

/* menu */
.menu_nav { margin:0; padding:0; height:81px;}
.menu_nav ul { list-style:none; margin:0; padding:0; float:right;}
.menu_nav ul li { margin:0; padding:25px 5px 0 0; float:left;}
.menu_nav ul li a { display:block; margin:0 5px 0 0; padding:10px 15px; color:#fff; text-decoration:none; font-size:13px; line-height:16px; background:#cccccc;}
.menu_nav ul li.active a, .menu_nav ul li a:hover { text-decoration:none; background:#78bbe6;}

/* content */
.content { padding:13px; margin:0;}
.mainbar { margin:0; padding:0; float:right; width:643px;}
.mainbar img { padding:4px; border:1px solid #f2f2f1; background:#FFF; }
.mainbar img.fl { margin:4px 16px 4px 0; float:left; }
.mainbar .article { margin:0; padding:10px 0 5px 20px;}
.mainbar .article a { color:#78bbe6;}
.mainbar .post-data a { color:#595959;}
.mainbar .spec a.rm, .mainbar a.com { color:#FFF;}
.sidebar { padding:0; float:left; width:301px;}
.sidebar .gadget { margin:0; padding:10px 20px 5px 0;}
.sidebar .gadget .title { text-align:right;}
.sidebar .gadget span.q { text-align:right; font:normal 60px/12px Arial, Helvetica, sans-serif; color: #d9d9d9;}
ul.sb_menu, ul.ex_menu, .testi { margin:0; padding:0; color:#939393; list-style:none;}
ul.sb_menu li, ul.ex_menu li { margin:0;}
ul.sb_menu li { padding:2px 0;}
ul.ex_menu li { padding:2px 0;}
ul.sb_menu li a, ul.ex_menu li a { display:block; color:#959595; text-decoration:none; padding:5px 5px 5px 15px; background:url(../images/menu_link.gif) no-repeat left center;}
ul.ex_menu li span { padding:0 0 0 15px;}
ul.sb_menu li a:hover, ul.ex_menu li a:hover, ul.sb_menu li.active a, ul.ex_menu li.active a { background:url(../images/menu_hover.gif) no-repeat left center;}
ul.sb_menu li a:hover { text-decoration:underline;}
ul.ex_menu li a:hover { text-decoration:underline;}

/* subpages */
.content .mainbar .comment { margin:0; padding:16px 0 0 0;}
.content .mainbar .comment img.userpic { border:1px solid #dedede; margin:10px 16px 0 0; padding:0; float:left;}

/* fbg */
.fbg { margin:0; padding:20px; background:#78bbe6;}
.fbg img { padding:4px; border:1px solid #cfd2d4; background-color:#fff;}
.fbg p, .fbg h2 { color:#fbfbfb;}
.fbg a { color:#fbfbfb;}
.fbg .col { margin:0; float:left; background:url(../images/fbg_line.gif) repeat-y right;}
.fbg .c1 { padding:0 20px 0 0; width:260px;}
.fbg .c2 { padding:0 20px; width:320px;}
.fbg .c3 { padding:0 0 0 20px; width:270px; background:none;}
.fbg .c1 img { margin:8px 16px 8px 0;}
.fbg .c3 img { margin:8px 16px 4px 0; float:left;}

/* footer */
.footer { }
.footer_resize { margin:0 auto; padding:20px; width:930px;}
.footer .lf { float:left;}
.footer .rf { float:right;}
.footer p { color:#9a9a9a; margin:0; padding:4px 0; width:auto; line-height:1.5em;}
.footer p a { color:#78bbe6; text-decoration:none;}

/* form */
ol { list-style:none;}
ol li { display:block; clear:both;}
ol li label { display:block; margin:0; padding:16px 0 0 0;}
ol li input.text { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:5px 2px; height:16px; background:#fff;}
ol li textarea { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:2px; background:#fff;}
ol li .send { margin:16px 0 0 0;}

/* Search form */
.search { padding:0; margin:0;}
.search span { width:280px; display:block; background:#FFF; height:29px; margin:0; padding:0; border:1px solid #e1dddd;}
.search input#s { float:left; width:230px; padding:7px 0 7px 10px; margin:0; border:0; background:none; color:#afaeae; font:normal 12px/15px Arial, Helvetica, sans-serif; }
.search .btn { float:left; padding:0; margin:0; border:0; width:auto; }

/*=== PageNavi. ===*/
.pagenavi { clear:both; font: normal 11px Arial, Helvetica, sans-serif; margin:0 auto; text-align:right; padding:20px 0 20px 20px;}
.pagenavi a,
.pagenavi .current { margin-left:3px; padding:3px 8px; text-decoration:none; color:#939393; background:#f9fbfc; border:1px solid #d9e3cb;}
.pagenavi a:hover,
.pagenavi .current {  background:#78bbe6; color:#FFF;}
.pagenavi .pages { float:left;}

.fl { float:left;}
.fr { float:right;}
.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}

#refresh {
    cursor: pointer;
}
/* Вывод ошибок */
.err { border: 1px solid #8d010a !important;  }
.mess-top { margin-top: 20px; }
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    width: 425px;
}
.fbok .success {
    margin: 0;
}
.fb .error, .fbcaptaha .error{
    padding: 10px 0px 10px 35px;
    width: 200px;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../images/message/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/message/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/message/warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;

}
.validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('../images/message/validation.png');
}
.notfound {
    color: #8d010a;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    width: 742px;
}

/* sign block */
#sign_popup, #reg_popup{width:310px !important;}
.sign_popup{padding:10px 10px 0 10px;position: relative;}
.sign_popup .field{height:27px !important;}
.sign_popup h2{ 
    font: 18px Arial,Helvetica,sans-serif;
    margin:0 0 7px 0; 
    color:#191919 !important;
}
.sign_popup h3{
    margin:0 0 13.5px 0;
    color:#0a71a0;
    font:12px/18px Arial;
    padding: 20px 0 0;
}
#ch1{float:left;}
.sign_popup label{
    color:#787878; 
    float:left; 
    width:64px; 
    display:block; 
    font:12px/29px Arial;
}
.sign_popup .inp_line {
    float:left;
    width: 100%;
}
.inp_checkbox{padding:0 0 0 64px; overflow:hidden; position:relative; z-index:99999;}
.inp_checkbox_in {padding-bottom: 10px;}
.inp_checkbox label {font:11px/13px Arial; cursor:pointer; position:relative; top:0; white-space:nowrap;}
.disp_none{display:none;}