.scroll-text {
  width: 100px;
  height: 4.5em;
  overflow: hidden;
}
.scroll-text ul {
  width: 700px;
  height: 100px;
  overflow: hidden;
  margin: 0;
}
.scroll-text ul li {
  height: 1.5em;
}
.scroll-img {
  width: 1000px;
  height: 110px;
  overflow: hidden;
  font-size: 0;
}
.scroll-img ul {
  width: 700px;
  height: 600px;
  margin: 0;
}
.scroll-img ul li {
  display: inline-block;
  margin: 10px 0 10px 10px;
}
#sliderpartner.scroll-img ul {
  width: 1500px;
}
#sliderpartner-btn {
  width: 680px;
  padding-top: 10px;
}

