
/* box */
div.alertbox {
    border-radius: 6px 6px 6px 6px;
    font-size: 108.3%;
    margin: 2px 0 15px;
    padding: 20px 15px 20px 65px;
}
/* success */
div.success-box {
    background: url("../images/message/check.png") no-repeat scroll 15px center #EBFAB6;
    border: 1px solid #BBCC5B;
    color: #599847;
}
/* arrow */
div.arrow-box {
    background: url("../images/message/arrow.png") no-repeat scroll 15px center #EBFAB6;
    border: 1px solid #BBCC5B;
    color: #599847;
}
/* alert */
div.alert-box {
    background: url("../images/message/alert.png") no-repeat scroll 15px center #FBDD96;
    border: 1px solid #E5AF51;
    color: #CA6B1C;
}
/* error */
div.error-box {
    background: url("../images/message/error.png") no-repeat scroll 15px center #FDD2D1;
    border: 1px solid #F6988F;
    color: #883333;
}
/* notice */
div.notice-box {
    background: url("../images/message/note.png") no-repeat scroll 15px center #F9EBCA;
    border: 1px solid #E5B2AC;
    color: #9F6722;
}
/* info */
div.info-box {
    background: url("../images/message/info.png") no-repeat scroll 15px center #E6EBF0;
    border: 1px solid #89BECD;
    color: #277DCE;
}

.error-left {
    font-size:11px; text-align:left; color:#EB340A;
}

#imgload {
    display: none;
}

ul.ajax-respond {
    margin: 0px;
    padding: 0px;
}
ul.ajax-respond li {
    padding: 5px 0;
}
ul.ajax-respond li img {
    cursor: pointer;
}

#order-items-admin {
    border-radius: 5px;
    margin: 1em 0 30px;
}
#order-items-admin th {
    background: url("../images/message/info.png") no-repeat scroll 15px center #E6EBF0;
    text-align: center;
    padding: 20px 10px;
}

#order-items-admin td {
    text-align: center;
    padding: 10px 10px;
}
