php_value error_reporting "E_ALL"

<Files .htaccess>
	order allow,deny
	deny from all
</Files>

DirectoryIndex index.php index.html
AddType application/x-httpd-php .I@gX
  
php_value post_max_size 10M

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
##RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+) index.php          